.ticket-item-container{
    display: flex;
    background-color: #fff;
    margin: 10px 5px;
    height: 2.5rem;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.ticket-item-edit-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2px;
    background-color: #fff;
    margin: 10px 5px;
    height: 7.5rem;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
}

.ticket-item-text{
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    height: 2.5rem;
    padding: 2px;
}

.ticket-item-text-name {
    flex: 1;
    width: 0;
}
.ticket-item-text-description {
    flex: 2;
    width: 0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: left;
}

.ticket-item-delete {
    font-size: 1.5rem;
    padding: 5px;
    display: none;
}

.ticket-item-container:hover .ticket-item-delete {
    display: block;
 }

 .ticket-item-edit{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 80%;
    border: none;
 }
 .ticket-item-input-name{
     background: #77424242;
 }

 .ticket-item-input-description {
    background: #77424242;
    grid-column: 2 / 4;
    border: none;
 }

 .ticket-item-edit-visible-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
 }

 .ticket-item-edit-visible{
     width: 20px;
     height: 20px;
     margin: 5px;
 }

 .ticket-item-edit-button{
    
    border: none;
    background: none;
 }

 .red-button {
     color:red
 }

 .green-button {
    color: green;
 }