.userform-container {
    margin:5rem
}
.userform-row {
    display: flex;
    height: 3em;
    align-items: center;
    justify-content: center;
}

.userform-container label {
    width: 6em;
    text-align: left;
}

.userform-container input {
    height: 2em;
    width: 20em;
    margin: .5em;
}

.userform-start {
    height: 2em;
    width: 28em;
    margin-top: 2em;
}

.userform-waiting{
    width: 100%;
    height: 100vh;
    line-height: 100vh;
}