.column-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    margin: 10px;
    justify-content: space-between;
    box-sizing: border-box;
    overflow:auto;
}

.column-header-container{
    display: flex;
    background: #66666699;
    justify-content: space-between;
    align-items: center;
}

.column-title {
    padding: 20px 0;
    color: white;
    flex:1;
}

.column-showall-container{
    display: flex;
    align-items: center;
    padding: 5px;
}

.column-showall{
    width: 20px;
}
.column-showall-label{
    width: fit-content;
    font-size: small;
    font-weight: bold;
    color:navy;
}