.column-header-container{
    display: flex;
    background: #66666699;
    justify-content: space-between;
    align-items: center;
}

.column-title {
    padding: 20px 0;
    color: white;
    flex:1;
}

.column-showall-container{
    display: flex;
    align-items: center;
    padding: 5px;
}

.column-showall{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.column-showall-label{
    width: fit-content;
    font-size: medium;
    font-weight: bold;
    color:navy;
}