.row {
    display: flex;
    height: 3em;
    align-items: center;
    justify-content: center;
}

label {
    width: 6em;
    text-align: left;
}

input {
    height: 2em;
    width: 20em;
    margin: .5em;
}

.start {
    width: 28em;
}